html, body {
    background-image: url('../images/background.png');
}
.main_nav a {
    font-size: 11.4pt;
}
.kerbal {
    background-color: #a78798;
    height: 600px;
    color: #000;
}
.kerbal h2 {
    color: #000;
}
.kerbal .full_width {
    text-align: center;
    margin-top: 15px;
}
.kerbal .equation {
    width: 300px;
    display: block;
    position: relative;
    left: 50%;
    margin: -15px 0 35px -150px;
    border: none;
}
.kerbal img {
    margin: 0;
    width: 400px;
    border: 1px solid #333;
}
.encryption_left, .encryption_right {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    box-sizing: border-box;
}
.encryption_left {}
.lock {
    height: 50px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/lock.svg');
    position: absolute;
    top: 10px;
    left: 10px;
}
.encryption_left .side_title {
    font-size: 25pt;
}
.encryption_left hr {
    margin-top: 65px;
    width: 100px;
}
.encryption_left p {
    margin-top: 70px;
}
.button_dark {
    margin: -20px 10px 10px 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 14pt;
    padding: 10px 15px;
    border: 4px solid #FFF;
    position: absolute;
    bottom: 80px;
    -webkit-transition: border 0.5s, font-size 0.5s;
    -moz-transition: border 0.5s, font-size 0.5s;
    -o-transition: border 0.5s, font-size 0.5s;
    transition: border 0.5s, font-size 0.5s;
}
.button_dark:hover {
    font-size: 14.1pt;
    border: 4px solid #d3044a;
}
.encryption_left .button_dark {
    right: 10px;
}
.encryption_right .lock {
    top: auto;
    left: auto;
    bottom: 10px;
    right: 10px;
}
.encryption_right img {
    position: absolute;
    left: 10px;
    top: 70px;
}
@media screen and (max-width: 920px) {
    .encryption_left {
        border-right: 2px solid rgba(0, 0, 0, 0);
    }
    .encryption_left .side_title {
        font-size: 20pt;
    }
    .encryption_left hr {
        margin-top: 55px;
    }
    .encryption_left p {
        margin-top: 50px;
    }
    .encryption_right {
        border-left: 2px solid rgba(0, 0, 0, 0);
    }
}
@media screen and (max-width: 640px) {
    .kerbal .full_width {
        margin-top: 20px;
    }
    .kerbal .equation {
        width: 250px;
        margin-left: -125px;
    }
    .encryption_left {
        border-bottom: rgba(0, 0, 0, 0)
    }
    .encryption_left .button_dark {
        position: relative;
        left:0px;
        top: 40px;
    }
    .encryption_right {
        height: 375px;
        padding-top: 0;
        margin-top: -40px;
    }
    .encryption_right img {
        width: 240px;
        top: 0;
        left: -webkit-calc(50% - 120px);
        left: -moz-calc(50% - 120px);
        left: -o-calc(50% - 120px);
        left: calc(50% - 120px);
    }
    .lock {
        display: none;
    }
}

/* - Media controls for kerbal section - */
@media screen and (max-width: 455px) {
    .kerbal .equation {
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .kerbal img {
        width: 80%;
    }
}
@media screen and (max-width: 350px) {
    .kerbal img {
        width: 90%;
    }
}
