html, body {
    background-color: pink;
}
.main_nav a {
    font-size: 11.4pt;
}
.kerbal {
    background-color: #a78798;
    height: 600px;
    color: #000;
}
.kerbal h2 {
    color: #000;
}
.kerbal .full_width {
    text-align: center;
    margin-top: 15px;
}
.kerbal .equation {
    width: 300px;
    display: block;
    position: relative;
    left: 50%;
    margin: -15px 0 35px -150px;
    border: none;
}
.kerbal img {
    margin: 0;
    width: 400px;
    border: 1px solid #333;
}
.encryption_left, .encryption_right {
    box-sizing: border-box;
    background-size: auto;
    background-image: url('../images/background.png');
}
.encryption_right {
    margin-left: -4px;
    padding-top: 80px;
}
@media screen and (max-width: 920px) {}
@media screen and (max-width: 640px) {
    .kerbal .full_width {
        margin-top: 20px;
    }
    .kerbal .equation {
        width: 250px;
        margin-left: -125px;
    }
    .encryption_right {
        margin-top: -4px;
        margin-left: 0;
    }
}
/* - Media controls for kerbal section - */
@media screen and (max-width: 455px) {
    .kerbal .equation {
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .kerbal img {
        width: 80%;
    }
}
@media screen and (max-width: 350px) {
    .kerbal img {
        width: 90%;
    }
}
