html, body {
    background-image: url(../images/background.png)
}
.main_nav a {
    font-size: 11.4pt
}
.kerbal {
    background-color: #a78798;
    color: #000;
    height: auto;
}
.kerbal h2, .web_design h2 {
    color: #000;
    margin-bottom: 5px
}
.kerbal .full_width, .web_design .full_width {
    text-align: center;
    margin-top: 15px
}
.kerbal img {
    margin: 0 0 40px 0;
    width: 400px;
    border: 1px solid #333;
}
.encryption_left, .encryption_right {
    box-sizing: border-box;
    border-bottom: 4px solid #333
}
.lock {
    height: 50px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/lock.svg);
    position: absolute;
    top: 10px;
    left: 10px
}
.encryption_left .side_title {
    font-size: 25pt
}
.encryption_left hr {
    margin-top: 65px;
    width: 100px
}
.encryption_left p {
    margin-top: 70px
}
.button_dark {
    margin: -20px 10px 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 14pt;
    padding: 10px 15px;
    border: 4px solid #FFF;
    position: absolute;
    bottom: 80px;
    right: 10px;
    -webkit-transition: border 0.5s, font-size .5s;
    -moz-transition: border 0.5s, font-size .5s;
    -o-transition: border 0.5s, font-size .5s;
    transition: border 0.5s, font-size .5s
}
.button_dark:hover {
    border: 4px solid #d3044a
}
.encryption_right .lock {
    top: auto;
    left: auto;
    bottom: 10px;
    right: 10px
}
.encryption_right {
    z-index: 1;
    margin-left: -4px;
    box-sizing: border-box
}
.encryption_right img {
    position: absolute;
    left: 10px;
    top: 70px
}
.web_design {
    height: auto;
    background-color: #a78798;
    color: #000
}
.web_design .growable_line {
    border: 1px solid #000;
    position: relative;
    top: -20px;
    z-index: -10
}
.scrolling_webpage {
    position: relative;
    display: inline-block;
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
    overflow: hidden;
}
.contain_browser {
    width: 600px;
    height: 300px;
    position: absolute;
    bottom: 0;
    overflow: hidden
}
.browser {
    width: 600px;
    height: 300px;
    overflow: hidden
}
.browser_button {
    height: 14.5px;
    width: 14.5px;
    border-radius: 100%;
    position: absolute;
    top: 4.5px;
    opacity: 0
}
.browser_button:first-child {
    background-color: red;
    left: 14px
}
.browser_button:nth-child(2) {
    background-color: #f7db6d;
    left: 40px
}
.browser_button:nth-child(3) {
    background-color: #20a06f;
    left: 66px
}
.site {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 600px;
    -webkit-transition: width 0.5s, transform 15s ease-in-out;
    -moz-transition: width 0.5s, transform 15s ease-in-out;
    -o-transition: width 0.5s, transform 15s ease-in-out;
    transition: width 0.5s, transform 15s ease-in-out
}
.medical_left {
    box-sizing: border-box;
    border-bottom: 4px solid #333
}
.medical_left hr {
    margin-top: 60px;
    width: 140px
}
.medical_left p {
    margin-top: 60px
}
.medical_right {
    box-sizing: border-box;
    border-bottom: 4px solid #333;
    z-index: 1;
    margin-left: -4px
}
.medical_right img {
    position: absolute;
    width: 325px;
    border: 2px solid #333;
    left: 10px;
    top: 60px;
    box-sizing: border-box
}
@media screen and (max-width: 920px) {
    .encryption_left {
        border-right: 2px solid rgba(1, 1, 1, 0)
    }
    .encryption_left .side_title {
        font-size: 20pt
    }
    .encryption_left hr {
        margin-top: 55px
    }
    .encryption_left p {
        margin-top: 50px
    }
    .encryption_right {
        border-left: 2px solid rgba(1, 1, 1, 0);
        margin-left: -4.5px
    }
    .medical_left {
        border-right: 2px solid rgba(1, 1, 1, 0)
    }
    .medical_right {
        border-left: 2px solid rgba(1, 1, 1, 0);
        margin-left: -4.5px
    }
    .medical_left .button_dark {
        bottom: 35px
    }
}
@media screen and (max-width: 640px) {
    .kerbal .full_width {
        margin-top: 20px
    }
    .encryption_left, .medical_left {
        border-bottom: rgba(0, 0, 0, 0)
    }
    .button_dark {
        position: relative;
        left: 0;
        top: 40px
    }
    .encryption_right {
        height: 375px;
        padding-top: 0;
        margin-top: -40px
    }
    .encryption_right img {
        width: 240px;
        top: 0;
        left: -webkit-calc(50% - 120px);
        left: -moz-calc(50% - 120px);
        left: -o-calc(50% - 120px);
        left: calc(50% - 120px)
    }
    .lock {
        display: none
    }
    .scrolling_webpage, .contain_browser, .browser {
        height: 200px
    }
    .scrolling_webpage, .contain_browser, .browser, .site {
        width: 300px
    }
    .browser_button:first-child, .browser_button:nth-child(2), .browser_button:nth-child(3) {
        background-color: rgba(0, 0, 0, 0)
    }
    .web_design .growable_line {
        top: 0
    }
    .medical_left hr {
        width: 100px;
        margin-top: 50px
    }
    .medical_left p {
        margin-top: 35px
    }
    .medical_right {
        margin-left: 0;
        height: 280px;
        margin-top: -120px
    }
    .medical_right img {
        top: 0;
        left: 50%;
        width: 300px;
        margin: 0 0 0 -151px
    }
}
@media screen and (max-width: 320px) {
    .scrolling_webpage, .contain_browser, .browser {
        height: 180px;
        width: 280px
    }
    .site {
        width: 290px;
    }
    .medical_right img {
        width: 280px;
        margin: 0 0 0 -141px
    }
}
@media screen and (max-width: 455px) {
    .kerbal img {
        width: 80%
    }
}
@media screen and (max-width: 350px) {
    .kerbal img {
        width: 90%
    }
}
